h1 {
    color:blue;
}

table
{
    counter-reset: rowNumber;
}

table tr > td:first-child
{
    counter-increment: rowNumber;
}

table tr td:first-child::before
{
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
    font-weight: bold;
    font-size: large;
}

#formSubmission {
    display: block;
    margin: 0 auto;
}