{% extends "base.html" %}

{% block title %} Dobrodošli na QUIZZ!!! {% endblock %}

{% block content %}
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
              QUIZZ
            </a>
            <a href="{% url 'index' %}">Pocetna strana</a>
          </div>
        </nav>


    <h1 class="display-4 text-center">Dobrodošli na Quizz</h1>
    <hr/>
    <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto">
            <p class="lead">
                Danas je {{danas}}.
            </p>
            <br>
            <p>Popunite formu da zapocnete kviz: </p>
            <form method="post">
                <table class="table table-sm">
                    {{ form }}
                </table>
                {% csrf_token %}
                <button type="submit" id="formSubmission" class="btn btn-primary">Započni kviz</button>
            </form>
        </div>
    </div>
    </div>


<hr>
    <div class="row justify-content-center">
        <div class="col-8">
            <h2 class="text-center">Rang lista takmičara</h2>
            <br>
            <table class="table table-success table-striped w-70">
                        <tr>
                          <th scope="col"><b> Rang </b></th>
                          <th scope="col">Korisn. ime</th>
                          <th scope="col">Rezultat</th>
                          <th scope="col">Datum</th>
                        </tr>
                        {% for player in players %}
                            <tr>
                              <td></td>
                              <td>{{player.username}}</td>
                              <td>{{player.score}}</td>
                              <td>{{player.date_of_quizz}}</td>
                            </tr>
                        {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}