{% extends "base.html" %}

{% block title %} Vreme je za QUIZZ {% endblock %}

{% block content %}

    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
              QUIZZ
            </a>
            <a href="{% url 'index' %}">Pocetna strana</a>
          </div>
        </nav>

        <h1 class="display-4 text-center">Vreme je za Quizz</h1>
    <div class="col-md-8 offset-md-2">
    <h3>Odaberite tacne odgovore</h3>
    <hr>
    <form action="/quiz/result" method="post">
        {% csrf_token %}
        <div>
            {% for question in quiz %}
                <h3>{{question.question}}</h3>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="answer1">
                  <label class="form-check-label" for="exampleRadios2">
                    <p> {{ question.correct_answer }}</p>
                  </label>
                </div>
                {% for answer in question.incorrect_answers %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="answer1">
                  <label class="form-check-label" for="exampleRadios1">
                    <p>{{ answer }}</p>
                  </label>
                </div>
                {% endfor %}

            {% endfor %}
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
    </div>

{% endblock %}